@{ 
    var applicationName = "Fitness Frog";
}

@helper GetAddEntryButtonVisibility()
{
    if ((string)ViewContext.RouteData.Values["controller"] == "Entries" && 
        (string)ViewContext.RouteData.Values["action"] == "Add")
    {
        <text>hidden</text>
    }
    else
    {
        <text>visible</text>
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @applicationName</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="~/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Secular+One" rel="stylesheet">
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" /> these are included in site.css*@
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Entries")">
                    @Html.Partial("_Logo", new ViewDataDictionary { { "element-id", "logo" } })
                    @applicationName
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <a href="@Url.Action("Add", "Entries")" style="visibility: @GetAddEntryButtonVisibility()"
                   class="btn btn-primary navbar-btn navbar-right">
                    <span class="glyphicon glyphicon-plus"></span> Add Entry
                </a>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            @Html.Partial("_Logo", new ViewDataDictionary { { "element-id", "footer_logo" } })
            <p>&copy; @DateTime.Now.Year @applicationName, @System.Globalization.CultureInfo.CurrentCulture (@System.Globalization.CultureInfo.CurrentUICulture)</p>
</footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    @*<script type="text/javascript"
                src="http://jqueryui.com/ui/i18n/jquery.ui.datepicker-fr.js">
        </script>*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/cldr.js"></script>
    <script src="~/Scripts/cldr/event.js"></script>
    <script src="~/Scripts/cldr/supplemental.js"></script>
    <script src="~/Scripts/globalize.js"></script>
    @*these are for globalize v1.3*@
    <script src="~/Scripts/globalize/number.js"></script>
    <script src="~/Scripts/globalize/date.js"></script>
    @*<script src="~/Scripts/jquery.validate.globalize.js"></script>*@

    @* these are from globalize v0.x
        <script src="~/Scripts/globalize/globalize.cultures.js"></script>
        <script src="~/Scripts/globalize/globalize.culture.bg-BG.js"></script>*@

    @*
        https://stackoverflow.com/questions/21817497/asp-net-mvc-4-client-side-validation-fails-on-dates-containing-dots
            no validation occurs for dates if this script is enabled
        <script type="text/javascript">
            $(function () {
                $.validator.methods.date = function (value, element) {
                      return this.optional(element) || Globalize.parseDate(value, "dd.MM.yyyy");
                }
            });
        </script>
    *@

    <script src="~/Scripts/jquery.validate.bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.bg.min.js"></script>
    <script>
        $('input.datepicker').datepicker({
            format: "dd.mm.yyyy",
            weekStart: 1,
            language: "bg",
            todayBtn: "linked"
        });
    </script>
    @*<script>
            $(document).ready(function () {
                Globalize.culture('bg-BG');
            }
        </script>*@
    @*<script>
        $(document).ready(function () {
            Globalize.load({
                "supplemental": {
                    "parentLocales": {
                        "parentLocale": {
                            "en": "en-US"
                        }
                    },
                    "likelySubtags": {
                        "de": "de",
                        "en": "en",
                        "fr": "fr"
                    }
                }
            });
            Globalize.locale("en-US");
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || Globalize.parseDate(value, { date: "short" }) !== null;
            };
            //console.log(Globalize.locale().name); Globalize.locale(new Cldr("en")); {, skeleton: "dMy" }
        });
    </script>*@
</body>
</html>